################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RamenGoApi/.vs/RamenGoApi/FileContentIndex
/RamenGoApi/.vs/RamenGoApi/v17
