################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RamenGoApi/.vs/
bin/
obj/
/RamenGoApi/RamenGoApi/obj/
/RamenGoApi/RamenGoApi/bin/
/RamenGoApi/RamenGoApi.Application/obj/
/RamenGoApi/RamenGoApi.Application/bin/
/RamenGoApi/RamenGoApi.Domain/obj/
/RamenGoApi/RamenGoApi.Domain/bin/
/RamenGoApi/RamenGoApi.Infrastructure/obj/
/RamenGoApi/RamenGoApi.Infrastructure/bin/