################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RamenGoApi/.vs/RamenGoApi/FileContentIndex
/RamenGoApi/.vs/RamenGoApi/v17
/RamenGoApi/RamenGoApi/bin/Debug/net8.0/RamenGoApi.Application.dll
/RamenGoApi/.vs/RamenGoApi/config/applicationhost.config
/RamenGoApi/RamenGoApi/bin/Debug/net8.0/RamenGoApi.Application.pdb
/RamenGoApi/RamenGoApi/bin/Debug/net8.0/RamenGoApi.dll
/RamenGoApi/RamenGoApi/bin/Debug/net8.0/RamenGoApi.Domain.dll
/RamenGoApi/RamenGoApi/bin/Debug/net8.0/RamenGoApi.Domain.pdb
/RamenGoApi/RamenGoApi/bin/Debug/net8.0/RamenGoApi.exe
/RamenGoApi/RamenGoApi/bin/Debug/net8.0/RamenGoApi.Infrastructure.dll
/RamenGoApi/RamenGoApi/bin/Debug/net8.0/RamenGoApi.pdb
/RamenGoApi/RamenGoApi/bin/Debug/net8.0/RamenGoApi.Infrastructure.pdb
/RamenGoApi/RamenGoApi/obj/Debug/net8.0/ref/RamenGoApi.dll
/RamenGoApi/RamenGoApi/obj/Debug/net8.0/refint/RamenGoApi.dll
/RamenGoApi/RamenGoApi/obj/Debug/net8.0/apphost.exe
/RamenGoApi/RamenGoApi/obj/Debug/net8.0/RamenGoApi.AssemblyInfo.cs
/RamenGoApi/RamenGoApi/obj/Debug/net8.0/RamenGoApi.AssemblyInfoInputs.cache
/RamenGoApi/RamenGoApi/obj/Debug/net8.0/RamenGoApi.csproj.AssemblyReference.cache
/RamenGoApi/RamenGoApi/obj/Debug/net8.0/RamenGoApi.csproj.CoreCompileInputs.cache
/RamenGoApi/RamenGoApi/obj/Debug/net8.0/RamenGoApi.dll
/RamenGoApi/RamenGoApi/obj/Debug/net8.0/RamenGoApi.pdb
/RamenGoApi/RamenGoApi/obj/Debug/net8.0/RamenGoApi.sourcelink.json
/RamenGoApi/RamenGoApi/obj/project.assets.json
/RamenGoApi/RamenGoApi/obj/project.nuget.cache
/RamenGoApi/RamenGoApi/obj/RamenGoApi.csproj.nuget.dgspec.json
/RamenGoApi/RamenGoApi.Application/bin/Debug/net8.0/RamenGoApi.Application.dll
/RamenGoApi/RamenGoApi.Application/bin/Debug/net8.0/RamenGoApi.Application.pdb
/RamenGoApi/RamenGoApi.Application/bin/Debug/net8.0/RamenGoApi.Domain.dll
/RamenGoApi/RamenGoApi.Application/bin/Debug/net8.0/RamenGoApi.Domain.pdb
/RamenGoApi/RamenGoApi.Application/bin/Debug/net8.0/RamenGoApi.Infrastructure.dll
/RamenGoApi/RamenGoApi.Application/bin/Debug/net8.0/RamenGoApi.Infrastructure.pdb
/RamenGoApi/RamenGoApi.Application/obj/Debug/net8.0/ref/RamenGoApi.Application.dll
/RamenGoApi/RamenGoApi.Application/obj/Debug/net8.0/RamenGoApi.Application.AssemblyInfo.cs
/RamenGoApi/RamenGoApi.Application/obj/Debug/net8.0/RamenGoApi.Application.AssemblyInfoInputs.cache
/RamenGoApi/RamenGoApi.Application/obj/Debug/net8.0/RamenGoApi.Application.csproj.AssemblyReference.cache
/RamenGoApi/RamenGoApi.Application/obj/Debug/net8.0/RamenGoApi.Application.csproj.CoreCompileInputs.cache
/RamenGoApi/RamenGoApi.Application/obj/Debug/net8.0/RamenGoApi.Application.dll
/RamenGoApi/RamenGoApi.Application/obj/Debug/net8.0/RamenGoApi.Application.pdb
/RamenGoApi/RamenGoApi.Application/obj/Debug/net8.0/RamenGoApi.Application.sourcelink.json
/RamenGoApi/RamenGoApi.Application/obj/Debug/net8.0/refint/RamenGoApi.Application.dll
/RamenGoApi/RamenGoApi.Application/obj/project.assets.json
/RamenGoApi/RamenGoApi.Application/obj/project.nuget.cache
/RamenGoApi/RamenGoApi.Application/obj/RamenGoApi.Application.csproj.nuget.dgspec.json
/RamenGoApi/RamenGoApi.Domain/bin/Debug/net8.0/RamenGoApi.Domain.dll
/RamenGoApi/RamenGoApi.Domain/bin/Debug/net8.0/RamenGoApi.Domain.pdb
/RamenGoApi/RamenGoApi.Domain/obj/Debug/net8.0/ref/RamenGoApi.Domain.dll
/RamenGoApi/RamenGoApi.Domain/obj/Debug/net8.0/RamenGoApi.Domain.AssemblyInfo.cs
/RamenGoApi/RamenGoApi.Domain/obj/Debug/net8.0/RamenGoApi.Domain.AssemblyInfoInputs.cache
/RamenGoApi/RamenGoApi.Domain/obj/Debug/net8.0/RamenGoApi.Domain.csproj.CoreCompileInputs.cache
/RamenGoApi/RamenGoApi.Domain/obj/Debug/net8.0/RamenGoApi.Domain.dll
/RamenGoApi/RamenGoApi.Domain/obj/Debug/net8.0/RamenGoApi.Domain.pdb
/RamenGoApi/RamenGoApi.Domain/obj/Debug/net8.0/RamenGoApi.Domain.sourcelink.json
/RamenGoApi/RamenGoApi.Domain/obj/Debug/net8.0/refint/RamenGoApi.Domain.dll
/RamenGoApi/RamenGoApi.Domain/obj/project.assets.json
/RamenGoApi/RamenGoApi.Domain/obj/project.nuget.cache
/RamenGoApi/RamenGoApi.Domain/obj/RamenGoApi.Domain.csproj.nuget.dgspec.json
/RamenGoApi/RamenGoApi.Infrastructure/bin/Debug/net8.0/RamenGoApi.Domain.dll
/RamenGoApi/RamenGoApi.Infrastructure/bin/Debug/net8.0/RamenGoApi.Domain.pdb
/RamenGoApi/RamenGoApi.Infrastructure/bin/Debug/net8.0/RamenGoApi.Infrastructure.dll
/RamenGoApi/RamenGoApi.Infrastructure/bin/Debug/net8.0/RamenGoApi.Infrastructure.pdb
/RamenGoApi/RamenGoApi.Infrastructure/obj/Debug/net8.0/ref/RamenGoApi.Infrastructure.dll
/RamenGoApi/RamenGoApi.Infrastructure/obj/Debug/net8.0/RamenGoApi.Infrastructure.AssemblyInfo.cs
/RamenGoApi/RamenGoApi.Infrastructure/obj/Debug/net8.0/RamenGoApi.Infrastructure.AssemblyInfoInputs.cache
/RamenGoApi/RamenGoApi.Infrastructure/obj/Debug/net8.0/RamenGoApi.Infrastructure.csproj.AssemblyReference.cache
/RamenGoApi/RamenGoApi.Infrastructure/obj/Debug/net8.0/RamenGoApi.Infrastructure.csproj.CoreCompileInputs.cache
/RamenGoApi/RamenGoApi.Infrastructure/obj/Debug/net8.0/RamenGoApi.Infrastructure.dll
/RamenGoApi/RamenGoApi.Infrastructure/obj/Debug/net8.0/RamenGoApi.Infrastructure.pdb
/RamenGoApi/RamenGoApi.Infrastructure/obj/Debug/net8.0/RamenGoApi.Infrastructure.sourcelink.json
/RamenGoApi/RamenGoApi.Infrastructure/obj/Debug/net8.0/refint/RamenGoApi.Infrastructure.dll
/RamenGoApi/RamenGoApi.Infrastructure/obj/project.assets.json
/RamenGoApi/RamenGoApi.Infrastructure/obj/project.nuget.cache
/RamenGoApi/RamenGoApi.Infrastructure/obj/RamenGoApi.Infrastructure.csproj.nuget.dgspec.json
